html {
	scroll-behavior: smooth;
}


.navbar {
	display: flex;
	justify-content: space-between;
	height: 40px;
	background-color: #6d9dc5;
	align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;  /* Menyeting ulang margin */
    padding: 0; /* Menyeting ulang padding */
}


.menu-nav a {
	justify-content: flex-end;
	color: white;
	font-size: 16px;
	margin-left: 24px;
	text-decoration: none;
    padding-right: 40px;
    
}

hr {
	margin-block-start: 0px;
	margin-block-end: 0;
}

.logo {
	justify-content: flex-end;
	color: white;
	font-size: 24px;
	align-items: center;
    padding-left: 40px;
}

.banner {
	display: flex;
	background-image: url(img/bgheader.jpeg);
	background-repeat: no-repeat;
	height: 350px;
	background-size: cover;
	background-position: center;
	align-items: center;
	border-radius: 0px 0px 12px 12px;
}

.banner-content {
	padding-left: 32px;
	color: aliceblue;
}

.banner-content h1 {
	font-size: 32px;
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.banner-content h3 {
	font-size: 24px;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

.banner button {
	margin-top: 36px;
	padding: 12px 24px;
	border-radius: 12px;
	border-color: white;
	cursor: pointer;
}

.Packages {
	text-align: center;
	margin-top: 24px;
}

.Packages-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
	gap: 30px;
	max-width: 800px;
}

.Tour {
	font-weight: bold;
	font-size: 26px;
	align-content: center;
	color: white;
	background-image: url(img/tour.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	height: 70px;
	width: 320px;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 5px 0 grey;
}

.Flight {
	font-weight: bold;
	font-size: 26px;
	align-content: center;
	color: white;
	background-image: url(img/flight.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	height: 70px;
	width: 320px;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 5px 0 grey;
}

.Hotel {
	font-weight: bold;
	font-size: 26px;
	align-content: center;
	color: white;
	background-image: url(img/hotel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	height: 70px;
	width: 320px;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 5px 0 grey;
}

.Tour-package {
	font-weight: bold;
	font-size: 26px;
	align-content: center;
	color: white;
	background-image: url(img/tpackage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	height: 70px;
	width: 320px;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 5px 0 grey;
}

.Cruise {
	font-weight: bold;
	font-size: 26px;
	align-content: center;
	color: white;
	background-image: url(img/cruise.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	height: 70px;
	width: 320px;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 5px 0 grey;
}

.Nature {
	font-weight: bold;
	font-size: 26px;
	align-content: center;
	color: white;
	background-image: url(img/nature.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	height: 70px;
	width: 320px;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 5px 0 grey;
}

.Country-content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-left: 24px;
	justify-content: center;
	align-items: center;
}

.city {
	height: 350px;
	width: 225px;
	box-shadow: 0 0 5px 0 grey;
	border-radius: 12px;
	text-align: center;
	background: whitesmoke;
}

.city img {
	object-fit: cover;
	height: 250px;
	width: 225px;
	border-radius: 12px 12px 0 0;
}

.city div h2 {
	font-size: 20px;
	padding: 0;
	text-align: center;
}

.city div button {
	color: white;
	padding: 4px 24px;
	background-color: #6d9dc5;
	border: 0;
	border-radius: 12px;
	cursor: pointer;
}

.Book-now {
	justify-items: center;
	align-content: center;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	height: 300px;
	width: 400px;
	box-shadow: 0 0 2px 0 grey;
	border-radius: 12px;
	text-align: center;
	background: whitesmoke;
	padding-top: 100px;
}

.Book-now h3 {
	margin-top: 24px;
	font-weight: bold;
}

.Book-now div button {
	color: white;
	padding: 12px 40px;
	background-color: #6d9dc5;
	border: 0;
	border-radius: 12px;
	cursor: pointer;
}

.modal {
	display: none;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0.4); =
}


.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}


.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.form-group {
	margin-bottom: 15px;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus {
    border: 1px solid #007BFF;
    outline: none;
}

.form-group label {
    margin-bottom: 6px;
    font-size: 16px;
    display: block;
}


.form-group input[type="text"]::placeholder,
.form-group input[type="email"]::placeholder {
    color: #aaa;
}


.form-group input[type="text"]::-webkit-calendar-picker-indicator,
.form-group input[type="email"]::-webkit-calendar-picker-indicator {
    display: none;
}


.form-group input[type="text"] {
    -moz-appearance: textfield;
}

.form-group input[type="email"] {
    -moz-appearance: textfield;
}

.form-group select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    /* appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;  */
    background-color: #fff; 
}

.form-group select:focus {
    border: 1px solid #007BFF;
    outline: none;
}


.form-group select option {
    padding: 10px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #6d9dc5;
    color: white;
    border:none;
}   

label {
	display: block;
	margin-bottom: 5px;
}
